* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 10px;
}

.container {
  width: 1440px;
  margin: auto;
  padding: 50px 0px;
}
.container .titleContainer {
  display: flex;
  margin-bottom: 30px;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.container .container-check {
  display: flex;
  justify-content: space-evenly;
}
.container .container-check .container-check_group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .container-check .container-check_group .check-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: 22px;
}
.container .container-check .container-check_group .check-content * {
  cursor: pointer;
}
.container .container-check .container-check_group .check-content label {
  position: relative;
  transition: color ease-in-out 0.3s;
}
.container .container-check .container-check_group .check-content label:before {
  content: "";
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  transform-origin: left;
  background: #0f8570;
  animation: eraseReverse 0.3s ease-in-out forwards;
}
.container .container-check .container-check_group .check-content label.checked {
  color: #ee731b;
  transition: color ease-in-out 0.5s;
  opacity: 0.7;
}
.container .container-check .container-check_group .check-content label.checked:before {
  animation: erase 0.5s ease-in-out forwards;
}

@keyframes erase {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes eraseReverse {
  0% {
    transform: scaleX(100%);
  }
  100% {
    transform: scale(0);
  }
}
/* loading */
#loadingPage {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: #e9e9e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
#loadingPage p {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#loadingPage svg {
  width: 75px;
}
#loadingPage svg circle {
  fill: #8d8d8d;
}
#loadingPage svg circle:first-child {
  animation: loadingPointAnimate 1s infinite alternate-reverse ease-in-out 0.25s;
}
#loadingPage svg circle:nth-child(2) {
  animation: loadingPointAnimate 1s infinite alternate-reverse ease-in-out 0.5s;
}
#loadingPage svg circle:last-child {
  animation: loadingPointAnimate 1s infinite alternate-reverse ease-in-out 0.75s;
}

@keyframes loadingPointAnimate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* end loading */
.custom-check {
  border: 1px solid #2e2e2e;
  border-radius: 5px;
  width: 30px;
  aspect-ratio: 1/1;
  padding: 2px;
  position: relative;
}
.custom-check input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
}
.custom-check svg {
  position: relative;
  right: -2px;
  top: 2px;
  stroke: #0f8570;
  width: 20px;
}
.custom-check svg path {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: checkingReverse 0.3s ease-in-out reverse;
}
.custom-check svg.checked path {
  animation: checking 0.5s ease-in-out forwards;
}

@keyframes checking {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes checkingReverse {
  to {
    stroke-dashoffset: 0;
  }
}
button {
  padding: 5px 30px;
  font-size: 20px;
  background: #0f8570;
  color: #fff;
  border: 2px solid #ee731b;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  animation: vibrate-1 0.3s linear infinite both;
}

@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

/*# sourceMappingURL=style.css.map */
